@charset "utf-8";
/* CSS Document */

.heading_container {
    border-bottom: 1px dashed #33CCCC ;
    border-top: 1px dashed #33CCCC;
    padding: 12px 0 10px 0;
    margin: 0px 0px 50px 0px;
}
.md-prod-page {
	-webkit-box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.1);
}

.md-prod-page-in {
	padding: 11px;
	background: #fff;
	border-bottom: 1px solid #f5f5f5;
}


@media screen and (max-width: 996px) {
	.preview {
		margin-bottom: 20px;
	}
}

.preview-pic {

	flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
	width: 24%;
	margin: 0 0.5%;
}

.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	display: block;
}

.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0;
	border-radius: 2px;
	border: 3px solid #ddd;
}

.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0;
}
.tab-content {
	overflow: hidden;
}

.preview-pic.tab-content {
	border: 3px solid #ddd;
	width: 99%;
	margin: 0.5%;
}

.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
}

.preview-thumbnail.nav-tabs li.active a {
	border: 3px solid #01b888;
}
.spe-a {
	padding-bottom: 10px;
}

.spe-a ul {
	margin: 5px;
	padding: 0px;
	list-style-type:none;
}

.spe-a ul li p {
	line-height: 25px;
}

.spe-a ul li {
	border-bottom: 1px solid #eeeeee;
}

.spe-a ul li .col-md-4 {
	padding-left: 0px;
}
.column {
  float: left;
  width: 25%;
  
}

/* Clear floats after rows */ 

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border-radius:10px;
  border:groove;
}